.git
_build
deps
doc
cover
tmp
tmp_phx
.planning
website/node_modules
website/.next
website/out
examples/*/_build
examples/*/deps
examples/*/node_modules
examples/*/test-results
examples/*/playwright-report
scrypath_ops/_build
scrypath_ops/deps
scrypath_ops/assets/node_modules
scrypath_ops/priv/static/assets
!scrypath_ops/priv/static/assets
!scrypath_ops/priv/static/assets/**
**/.DS_Store
